name: CI

on:
  push:
    branches: main
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'
  pull_request:
    branches: main
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1'

env:
  IMAGE: ghcr.io/flathub-infra/flatpak-builder-lint:unprivileged

jobs:
  ci:
    runs-on: ubuntu-22.04
    env:
      ARTIFACT_SUFFIX: ${{ github.sha }}-${{ github.run_id }}-${{ github.job }}-${{ github.run_attempt }}
    permissions:
      contents: read
    timeout-minutes: 240
    concurrency:
      group: ci-${{ matrix.platform }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Enable unprivileged user namespaces
        run: |
          sudo aa-teardown >/dev/null 2>&1 || true
          sudo systemctl disable --now apparmor.service >/dev/null 2>&1
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_unconfined=0
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

        # 4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false

      - name: Install uv
        # 5.4.0
        uses: astral-sh/setup-uv@22695119d769bdb6f7032ad67b9bca0ef8c4a174
        with:
          version: "0.7.5"
          enable-cache: true
          cache-dependency-glob: |
            **/uv.lock
            **/pyproject.toml

      - name: Install python dependencies
        run: uv sync -v --all-extras --all-groups --frozen

      - name: Check code formatting
        run: uv run ruff format --check

      - name: Lint
        run: uv run ruff check --output-format=github

      - name: Check python types
        run: uv run mypy .

      - name: Create work directory
        run: |
          mkdir -p ${GITHUB_WORKSPACE}/reproworkdir
          mkdir -p ${GITHUB_WORKSPACE}/reproworkdir/tmp
          chmod -R 777 ${GITHUB_WORKSPACE}/reproworkdir

      - name: Download seccomp profile
        run: curl -s https://raw.githubusercontent.com/flathub-infra/vorarbeiter/refs/heads/main/flatpak.seccomp.json -o flatpak.seccomp.json

      - name: Run checks
        continue-on-error: true
        run: |
          run_check() {
            APPID="$1"
            docker run --rm \
              --entrypoint="" \
              --security-opt seccomp=./flatpak.seccomp.json \
              --security-opt apparmor=unconfined \
              --cap-drop all \
              -v /proc:/host/proc \
              -v "${GITHUB_WORKSPACE}/reproworkdir:/reproworkdir" \
              -e TMPDIR=/reproworkdir/tmp \
              -e GITHUB_SERVER_URL \
              -e GITHUB_REPOSITORY \
              -e GITHUB_RUN_ID \
              -w /reproworkdir \
              ${{ env.IMAGE }} \
              flathub-repro-checker --json --appid "$APPID"
          }

          run_check com.valvesoftware.Steam

      - name: Upload results
        # 4.6.2
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: diffoscope-results-${{ env.ARTIFACT_SUFFIX }}
          path: ./reproworkdir/diffoscope_result-*
